ion-img {
    object-fit: cover;
    height: 450px;
}

ion-card-subtitle {
    font-size: 1.5rem;
    text-align: center;
}

ion-button {
    --background: #fff;
    --color: #222428;
    width: 45%;
    margin-left: 27.5%;
}