ion-button {
    display: grid;
    justify-content: center;
    margin-top: 5%;
}

ion-label {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 90%;
    font-size: 2rem;
}