ion-button {
    --background: #222428;
    --color: #fff;
    display: grid;
    justify-content: center;
    margin-top: 5%;
}

ion-label {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 90%;
    font-size: 2rem;
    color: #fff;
}

ion-content{
    --background: dark;
    background-image: url('../../assets/snap.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}